In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_sas('2021_sas/gss2021.sas7bdat')
df.set_index('ID', inplace = True)
df.head(3)

,YEAR,WRKSLF,WRKGOVT,MARITAL,MARTYPE,DIVORCE,WIDOWED,AGE,AGEKDBRN,EDUC,...,RELITENNV,BIBLENV,POSTLIFENV,KIDSSOLNV,USCITZNNV,FUCITZNNV,FEPOLNV,SCIBNFTSNV,ABANYG,FILEVERSION
ID,,,,,,,,,,,,,,,,,,,,,
1.0,2021.0,NaN,NaN,1.0,NaN,2.0,2.0,65.0,27.0,12.0,...,2.0,2.0,2.0,4.0,NaN,NaN,NaN,2.0,2.0,7221.11
2.0,2021.0,NaN,NaN,3.0,NaN,NaN,2.0,60.0,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7221.11
3.0,2021.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,7221.11